In [11]:
#Q1
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data = {'course_name' : course_name, 'duration' : duration})

In [12]:
df

        course_name  duration
0      Data Science         2
1  Machine Learning         3
2          Big Data         6
3     Data Engineer         4

In [20]:
df.iloc[[1]]         #WHY 2 BRACKETS

        course_name  duration
1  Machine Learning         3

In [ ]:
  Q2 loc and iloc are both used to access data from a pandas dataframe, but they differ in the way they refer to the data.

loc is used to access data using labels, whereas iloc is used to access data using integer indices.

In [25]:
#Q3
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)

In [27]:
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.339560  0.710801  0.066546  0.665384  0.818613  0.160891
2  0.054990  0.510398  0.224818  0.681236  0.666178  0.543306
3  0.305851  0.986317  0.412852  0.472827  0.585520  0.769372
4  0.090964  0.224485  0.864902  0.796544  0.006867  0.960159
5  0.520887  0.711240  0.387774  0.875981  0.408701  0.714044
6  0.624149  0.832540  0.117693  0.773804  0.083147  0.793491

In [33]:
new_df=df1.reindex([3,0,1,2])

In [34]:
new_df

   column_1  column_2  column_3  column_4  column_5  column_6
3  0.305851  0.986317  0.412852  0.472827  0.585520  0.769372
0       NaN       NaN       NaN       NaN       NaN       NaN
1  0.339560  0.710801  0.066546  0.665384  0.818613  0.160891
2  0.054990  0.510398  0.224818  0.681236  0.666178  0.543306

In [46]:
new_df.loc[2]

column_1    0.054990
column_2    0.510398
column_3    0.224818
column_4    0.681236
column_5    0.666178
column_6    0.543306
Name: 2, dtype: float64

In [47]:
new_df.iloc[2]

column_1    0.339560
column_2    0.710801
column_3    0.066546
column_4    0.665384
column_5    0.818613
column_6    0.160891
Name: 1, dtype: float64

In [ ]:
Here, both the outputs are different.loc is used to access data using labels, whereas iloc is used to access data using integer indices.

In [42]:
#Q4
df1.mean()

column_1    0.233467
column_2    0.735839
column_3    0.234739
column_4    0.606482
column_5    0.690103
column_6    0.491190
dtype: float64

In [48]:
df1['column_2'].std()

0.26588426112360136

In [49]:
#Q5
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.339560  0.710801  0.066546  0.665384  0.818613  0.160891
2  0.054990  0.510398  0.224818  0.681236  0.666178  0.543306
3  0.305851  0.986317  0.412852  0.472827  0.585520  0.769372
4  0.090964  0.224485  0.864902  0.796544  0.006867  0.960159
5  0.520887  0.711240  0.387774  0.875981  0.408701  0.714044
6  0.624149  0.832540  0.117693  0.773804  0.083147  0.793491

In [54]:
df2=df1.replace(df1.loc[2][1], "string")
df2

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.339560  0.710801  0.066546  0.665384  0.818613  0.160891
2  0.054990    string  0.224818  0.681236  0.666178  0.543306
3  0.305851  0.986317  0.412852  0.472827  0.585520  0.769372
4  0.090964  0.224485  0.864902  0.796544  0.006867  0.960159
5  0.520887   0.71124  0.387774  0.875981  0.408701  0.714044
6  0.624149   0.83254  0.117693  0.773804  0.083147  0.793491

In [58]:
df3 = df2['column_2'].mean()

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [ ]:
Q6
In pandas, a window function is a way of applying a function to a moving window of data. It allows us to perform calculations on subsets of data defined by a window of one or more rows.

There are three main types of window functions in pandas:

Rolling Window Functions: This type of window function works on a rolling window of fixed size. We can specify the window size and an optional window type (e.g., "hamming", "bartlett", "blackman", etc.). Some examples of rolling window functions are rolling.mean(), rolling.sum(), rolling.max(), and rolling.min().

Expanding Window Functions: This type of window function works on an expanding window that grows with each new row of data. The function calculates the value for each row based on all previous rows. Some examples of expanding window functions are expanding.mean(), expanding.sum(), and expanding.max().

Exponential Weighted Functions: This type of window function works on a window of data, where the most recent observations are weighted more heavily than the older ones. The weights decrease exponentially as we move back in time. Some examples of exponential weighted functions are ewm.mean(), ewm.var(), and ewm.cov().

Window functions are very useful for analyzing time series data, and they can help us identify trends, patterns, and anomalies in the data.

In [59]:
#Q7
import datetime

now = datetime.datetime.now()
print(f"Current month and year: {now.strftime('%B %Y')}")

Current month and year: April 2023

In [73]:
#Q8
import pandas as pd

date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)
time_diff = date2 - date1
total_days= time_diff
total_hours= total_days*24
total_minutes = total_hours*60
print(f"The difference between {date1} and {date2} is:{time_diff}\n")
print(f"{total_days} days, {total_hours} hours, and {total_minutes} minutes")

Enter the first date (YYYY-MM-DD):  2023-04-20
Enter the second date (YYYY-MM-DD):  2023-04-30

The difference between 2023-04-20 00:00:00 and 2023-04-30 00:00:00 is:10 days 00:00:00

10 days 00:00:00 days, 240 days 00:00:00 hours, and 14400 days 00:00:00 minutes

In [106]:
#Q11
#import pandas as pd
# Student_ID = [1,2,3,4,5,6,7,8,9,10]
# Test_Score = [85,90,80,75,85,82,78,85,90,85]
# df = pd.DataFrame({'Student_ID':Student_ID, 'Test_Score':Test_Score})

In [116]:
 import pandas as pd
 file_path = input('Enetr the file path of the CSV file')

Enetr the file path of the CSV file work/PandasFolder/Student_record.csv

In [117]:
df =pd.read_csv(file_path)

FileNotFoundError: [Errno 2] No such file or directory: 'work/PandasFolder/Student_record.csv '

In [118]:
mean_score =df['Test_Score'].mean()
median_score =df['Test_Score'].median()
mode_score =df['Test_Score'].mode()

In [119]:
df1= pd.DataFrame(data={'Statistic' :['mean_score','median_score', 'mode_score'],
                        'value' :[mean_score,median_score,mode_score] })

In [120]:
df1

      Statistic                                   value
0    mean_score                                    83.5
1  median_score                                    85.0
2    mode_score  0    85
Name: Test_Score, dtype: int64